header,
nav,
article,
aside,
footer {
    border: 1px solid #000;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  min-width: 1000px;
}

header {
  height: 50px;
}

main {
  flex: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - 100%);
  min-height: calc(100vh - 128px);
}

main > nav {
  width: 200px;
  display: flex;
  flex-flow: column;
}

.itemnav {

}

main > article {
  flex: auto;
  overflow-y: scroll;
}

main > article::-webkit-scrollbar {
  display: none;
}

main > aside {
  width: 100px;
}

footer {
  height: 25px;
}